*{
    margin:0%;
    padding: 0%;
    background-color: rgb(47, 45, 45);
}
.mmm{
    height: 540px;
    width: 300px;
    max-width: fit-content;
    border: 1px solid black;
    background-color: rgb(201, 164, 14);
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
}

img{
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
}
button{
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    color: antiquewhite;
    background-color: black;
}
p{
    color: rgb(238, 235, 222);
    background-color: rgb(19, 14, 1);
}

h1{
    color: ghostwhite;
    background-color: goldenrod;
}
